.login {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: #fff;
	padding: 0 10px;
}

.login button {
	width: 250px;
	height: 60px;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
  gap: 10px;
	background: rgba(220,67,57,1);
}

.login button svg {
	width: 30px;
}
